
        h1{         
            color: blue;
            font-size: 25px;
        }

        h3{
            color: red;
            font-size: 20px;
        }

        p{
            color: gray;
            text-align: justify;
        }
